<header>
    <div class="logo">
        <div class="items-logo">
            <div class="espaco">
                <div class="search-box" id="search-box">
                    <input placeholder="Pesquisar" type="text" id="search">
                </div>
                <a id="search-icon" onclick="mostrarPesquisa()">
                    <img class="search" src="/assets/img/search_img.png" alt="Search icon">
                </a>
            </div>
            <img class="logo-text" src="/assets/img/LOGO.png" alt="logo">
            <div class="icon-logo" id="icon-logo">
                <a href="index.html">
                    <img class="logo-icon" src="/assets/img/logo_icon.png" alt="logo">
                </a>
            </div>
            <div class="menu-icon">
                <a id="menu-icon" onclick="mostrarMenu()">
                    <img src="/assets/img/menu_img.png" alt="Agrupamento dos itens do menu">
                </a>

            </div>
            <div class="items-logo2" id="items-logo2">
                <a class="menuLogin" routerLink="login" >Login</a>
                <a class="menuCarrinho" href="carrinho.html">Meu Carrinho</a>
            </div>
        </div>
    </div>
    <div id="menu">
        <a class="menuLogin2" href="login.html">Login</a>
        <a class="menuCarrinho2" href="carrinho.html">Meu Carrinho</a>
        <a class="menuDepartamentos" href="departamentos.html">Departamentos</a>
        <a class="menuPromocoes" href="promocoes.html">Promoções</a>
        <a class="menuNovidades" href="novidades.html">Novidades</a>
        <a class="menuMembros" href="membro.html">Torne-se Membro</a>

    </div>
</header>