<header>
    <div class="logo">
        <div class="items-logo">
            <div class="espaco">
                <div class="search-box" id="search-box">
                    <input placeholder="Pesquisar" type="text" id="search">
                </div>
                <a id="search-icon" onclick="mostrarPesquisa()">
                    <img class="search" src="/assets/img/search_img.png" alt="Search icon">
                </a>
            </div>
            <img class="logo-text" src="/assets/img/LOGO.png" alt="logo">
            <div class="icon-logo" id="icon-logo">
                <a href="index.html">
                    <img class="logo-icon" src="/assets/img/logo_icon.png" alt="logo">
                </a>
            </div>
            <div class="menu-icon">
                <a id="menu-icon" onclick="mostrarMenu()">
                    <img src="/assets/img/menu_img.png" alt="Agrupamento dos itens do menu">
                </a>

            </div>
            <div class="items-logo2" id="items-logo2">
                <a class="menuLogin" routerLink="login" >Login</a>
                <a class="menuCarrinho" href="carrinho.html">Meu Carrinho</a>
            </div>
        </div>
    </div>
    <div id="menu">
        <a class="menuLogin2" href="login.html">Login</a>
        <a class="menuCarrinho2" href="carrinho.html">Meu Carrinho</a>
        <a class="menuDepartamentos" href="departamentos.html">Departamentos</a>
        <a class="menuPromocoes" href="promocoes.html">Promoções</a>
        <a class="menuNovidades" href="novidades.html">Novidades</a>
        <a class="menuMembros" href="membro.html">Torne-se Membro</a>

    </div>
</header>
<div class="main">
    <div class="carrosel">
        <div data-js="banner-home" class="banner-home nintendo-controle bannerVisibility">
            <img src="/assets/img\nintendo3.jpg" alt="Banner do controle de Super Nintento" width="100%">
        </div>
        <div data-js="banner-home" class="banner-home nintendo-console">
            <img src="/assets/img/Group 36.png" alt="Banner do console Super Ninento" width="100%">
        </div>
        <div data-js="banner-home" class="banner-home Computadores">
            <img src="/assets/img/lorenzo-herrera-p0j-mE6mGo4-unsplash 1.png" alt="Banner dos computadores" width="100%">
        </div>
        <div class="botoes-banner">
            <button data-js="banner_button--prev" aria-label="Botão do banner anterior">
                <img src="/assets/img/seta-esquerda.png" alt="Seta para esquerda para Alterar Banner">
            </button>
            <button data-js="banner_button--next" aria-label="Botão do próximo banner">
                <img src="/assets/img/seta-direita.png" alt="Seta para Direita para Alterar Banner">
            </button>
        </div>
    </div>
    <div class="novidades-mania-background">
        <div class="title-novidades">
            <h2>Novidades Mania</h2>
            <p>Receba novidades e ofertas exclusivas em seu e-mail</p>
        </div>
        <div class="form-novidades">
            <div class="form-novidades-name">
                <input placeholder="Nome" type="text" id="name" required>
            </div>
            <div class="form-novidades-email">
                <input placeholder="E-mail" type="email" id="email" name="email" maxlength="40" required
                    autocomplete>
            </div>
            <div class="form-novidades-button">
                <input type="button" class="button-novidades" value="Cadastre-se">
            </div>
        </div>
    </div>
    <div class="categorias-de-produtos">
        <div class="produtos-700px">
            <img id="console3" src="/assets/img/controle_ps4_700px.png" alt="Produtos de Consoles" max-width="700px"
                max-height="236px" width="100%" height="100%">
            <img id="hardware3" src="/assets/img/fan_processador_700px.png" alt="Hardware para Computadores"
                max-width="700px" max-height="236px" width="100%" height="100%">
            <img id="perifericos3" src="/assets/img/mouse_teclado_700px.png" alt="Periféricos" width="100%"
                max-width="700px" max-height="236px" height="100%">
            <img id="pcgamer3" src="/assets/img/pc-gamer_700px.png" alt="PPC Gamer" max-width="700px" max-height="236px"
                width="100%" height="100%">
        </div>
        <div class="console">
            <img id="console" src="/assets/img\controle_ps4.png" alt="Produtos de Consoles" width="100%" height="100%">
            <img id="console2" src="/assets/img/controle_ps4_1024px.png" alt="Produtos de Consoles" width="100%">
        </div>
        <div class="restante">
            <img id="hardware" src="/assets/img\fan_processador.png" alt="Hardware para Computadores" width="100%">
            <img id="hardware2" src="/assets/img/fan_processador_1024px.png" alt="Hardware para Computadores" width="100%">
            <div class="restante2">
                <div class="perifericos">
                    <img id="perifericos" src="/assets/img\mouse_teclado.png" alt="Periféricos" width="100%">
                    <img id="perifericos2" src="/assets/img/mouse_teclado_1024px.png" alt="Periféricos" width="100%">
                </div>
                <div class="pc-gamer">
                    <img id="pc-gamer" src="/assets/img\pc_gamer.png" alt="PC Gamer" width="100%">
                    <img id="pc-gamer2" src="/assets/img/pc-gamer_1024px.png" alt="PC Gamer" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" lang="pt-br">
    <div class="items-footer" style="padding-top: 25px;">
        <div class="coluna-footer-itens inst" id="inst">
            <label for="coluna-footer-itens">
                <h3>Institucional</h3>
            </label>
            <ul class="coluna-footer-itens-lista" id="inst2">
                <li>
                    <a>Nossa História</a>
                </li>
                <li>
                    <a>No que acreditamos</a>
                </li>
                <li>
                    <a>Sustentabilidade</a>
                </li>
                <li>
                    <a>Trabalhe conosco</a>
                </li>
                <li>
                    <a>Privacidade</a>
                </li>
            </ul>
        </div>
        <div class="coluna-footer-itens depart" id="depart">
            <label for="coluna-footer-itens">
                <h3>Departamentos</h3>
            </label>
            <ul class="coluna-footer-itens-lista" id="depart2">
                <li>
                    <a>Consoles</a>
                </li>
                <li>
                    <a>Computadores</a>
                </li>
                <li>
                    <a>Periféricos</a>
                </li>
                <li>
                    <a>Hardware</a>
                </li>
                <li>
                    <a>Jogos</a>
                </li>
            </ul>
        </div>
        <div class="coluna-footer-itens accou" id="accou">
            <label for="coluna-footer-itens">
                <h3>Minha Conta</h3>
            </label>
            <ul class="coluna-footer-itens-lista" id="accou2">
                <li>
                    <a>Meus Pedidos</a>
                </li>
                <li>
                    <a>Recebimento de Novidades</a>
                </li>
            </ul>
        </div>
        <div class="coluna-footer-itens atend" id="atend">
            <label for="coluna-footer-itens">
                <h3>Atendimento</h3>
            </label>
            <ul class="coluna-footer-itens-lista" id="atend2">
                <li>
                    <a>SAC</a>
                </li>
                <li>
                    <a>Horário de Atendimento</a>
                </li>
                <li>
                    <a>Endereço</a>
                </li>
                <li>
                    <a>E-mail</a>
                </li>
                <li>
                    <a>Entre em contato</a>
                </li>
            </ul>
        </div>
    </div>
</footer>