<app-header></app-header>
<div class="main" onload="mostrarBannerPorra()">
    <div id="slides" class="carrosel">
        <div data-js="banner-home" class="banner-home nintendo-controle bannerVisibility">
            <img src="/assets/img\nintendo3.jpg" alt="Banner do controle de Super Nintento" width="100%">
        </div>
        <div data-js="banner-home" class="banner-home nintendo-console">
            <img src="/assets/img/Group 36.png" alt="Banner do console Super Ninento" width="100%">
        </div>
        <div data-js="banner-home" class="banner-home Computadores">
            <img src="/assets/img/lorenzo-herrera-p0j-mE6mGo4-unsplash 1.png" alt="Banner dos computadores" width="100%">
        </div>
        <div class="botoes-banner">
            <button id="banner_button--prev" data-js="banner_button--prev" aria-label="Botão do banner anterior">
                <img src="/assets/img/seta-esquerda.png" alt="Seta para esquerda para Alterar Banner">
            </button>
            <button id="banner_button--next" data-js="banner_button--next" aria-label="Botão do próximo banner">
                <img src="/assets/img/seta-direita.png" alt="Seta para Direita para Alterar Banner">
            </button>
        </div>
    </div>
    <div class="novidades-mania-background">
        <div class="title-novidades">
            <h2>Novidades Mania</h2>
            <p>Receba novidades e ofertas exclusivas em seu e-mail</p>
        </div>
        <div class="form-novidades">
            <div class="form-novidades-name">
                <input placeholder="Nome" type="text" id="name" required>
            </div>
            <div class="form-novidades-email">
                <input placeholder="E-mail" type="email" id="email" name="email" maxlength="40" required
                    autocomplete>
            </div>
            <div class="form-novidades-button">
                <input type="button" class="button-novidades" value="Cadastre-se">
            </div>
        </div>
    </div>
    <div class="categorias-de-produtos">
        <div class="produtos-700px">
            <img id="console3" src="/assets/img/controle_ps4_700px.png" alt="Produtos de Consoles" max-width="700px"
                max-height="236px" width="100%" height="100%">
            <img id="hardware3" src="/assets/img/fan_processador_700px.png" alt="Hardware para Computadores"
                max-width="700px" max-height="236px" width="100%" height="100%">
            <img id="perifericos3" src="/assets/img/mouse_teclado_700px.png" alt="Periféricos" width="100%"
                max-width="700px" max-height="236px" height="100%">
            <img id="pcgamer3" src="/assets/img/pc-gamer_700px.png" alt="PPC Gamer" max-width="700px" max-height="236px"
                width="100%" height="100%">
        </div>
        <div class="console">
            <img id="console" src="/assets/img\controle_ps4.png" alt="Produtos de Consoles" width="100%" height="100%">
            <img id="console2" src="/assets/img/controle_ps4_1024px.png" alt="Produtos de Consoles" width="100%">
        </div>
        <div class="restante">
            <img id="hardware" src="/assets/img\fan_processador.png" alt="Hardware para Computadores" width="100%">
            <img id="hardware2" src="/assets/img/fan_processador_1024px.png" alt="Hardware para Computadores" width="100%">
            <div class="restante2">
                <div class="perifericos">
                    <img id="perifericos" src="/assets/img\mouse_teclado.png" alt="Periféricos" width="100%">
                    <img id="perifericos2" src="/assets/img/mouse_teclado_1024px.png" alt="Periféricos" width="100%">
                </div>
                <div class="pc-gamer">
                    <img id="pc-gamer" src="/assets/img\pc_gamer.png" alt="PC Gamer" width="100%">
                    <img id="pc-gamer2" src="/assets/img/pc-gamer_1024px.png" alt="PC Gamer" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>