<footer class="footer" lang="pt-br">
    <div class="items-footer" style="padding-top: 25px;">
        <div class="coluna-footer-itens inst" id="inst">
            <label for="coluna-footer-itens">
                <h3>Institucional</h3>
            </label>
            <ul class="coluna-footer-itens-lista" id="inst2">
                <li>
                    <a>Nossa História</a>
                </li>
                <li>
                    <a>No que acreditamos</a>
                </li>
                <li>
                    <a>Sustentabilidade</a>
                </li>
                <li>
                    <a>Trabalhe conosco</a>
                </li>
                <li>
                    <a>Privacidade</a>
                </li>
            </ul>
        </div>
        <div class="coluna-footer-itens depart" id="depart">
            <label for="coluna-footer-itens">
                <h3>Departamentos</h3>
            </label>
            <ul class="coluna-footer-itens-lista" id="depart2">
                <li>
                    <a>Consoles</a>
                </li>
                <li>
                    <a>Computadores</a>
                </li>
                <li>
                    <a>Periféricos</a>
                </li>
                <li>
                    <a>Hardware</a>
                </li>
                <li>
                    <a>Jogos</a>
                </li>
            </ul>
        </div>
        <div class="coluna-footer-itens accou" id="accou">
            <label for="coluna-footer-itens">
                <h3>Minha Conta</h3>
            </label>
            <ul class="coluna-footer-itens-lista" id="accou2">
                <li>
                    <a>Meus Pedidos</a>
                </li>
                <li>
                    <a>Recebimento de Novidades</a>
                </li>
            </ul>
        </div>
        <div class="coluna-footer-itens atend" id="atend">
            <label for="coluna-footer-itens">
                <h3>Atendimento</h3>
            </label>
            <ul class="coluna-footer-itens-lista" id="atend2">
                <li>
                    <a>SAC</a>
                </li>
                <li>
                    <a>Horário de Atendimento</a>
                </li>
                <li>
                    <a>Endereço</a>
                </li>
                <li>
                    <a>E-mail</a>
                </li>
                <li>
                    <a>Entre em contato</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
